<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <!-- Continue going here -->
    <!--<plugins>
        &lt;!&ndash; 配置分页助手 &ndash;&gt;
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql" />

            &lt;!&ndash; 该参数默认为false &ndash;&gt;
            &lt;!&ndash; 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 &ndash;&gt;
            &lt;!&ndash; 和startPage中的pageNum效果一样&ndash;&gt;
            <property name="offsetAsPageNum" value="true"/>
            &lt;!&ndash; 该参数默认为false &ndash;&gt;
            &lt;!&ndash; 设置为true时，使用RowBounds分页会进行count查询 &ndash;&gt;
            <property name="rowBoundsWithCount" value="true"/>
            &lt;!&ndash; 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 &ndash;&gt;
            &lt;!&ndash; （相当于没有执行分页查询，但是返回结果仍然是Page类型）&ndash;&gt;
            <property name="pageSizeZero" value="true"/>
            &lt;!&ndash; 3.3.0版本可用 - 分页参数合理化，默认false禁用 &ndash;&gt;
            &lt;!&ndash; 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 &ndash;&gt;
            &lt;!&ndash; 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 &ndash;&gt;
            <property name="reasonable" value="false"/>
        </plugin>



    </plugins>-->

</configuration>